@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&family=Piedra&display=swap');

h1, h2, p {
  text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.6);
}
body {
  background-image: url("FONDS_ECRAN_FRUITS.005.png");
  background-size: cover;
}
h1 {
  color: #575A5E;
}
.welcome-btn {
  color: #FFE548;
  background: #0496FF;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}
h2 {
  color: #E98A15;
}
h1, h2 {
  font-family: "Piedra", cursive;
}

p {
  font-family: 'El Messiri', sans-serif;
  color: green;
}
li {
  list-style-type: none;
  display: inline;
  font-size: 36px;
  padding-right: 30px;
}
a {
  height: 20px;
  width: 20px;
  color: #B1F8F2;
}
a:hover{
  color: #335d47;
  font-size: 60px;
}
.welcome-btn:hover{
  font-size: 25px;
  color: #0496FF;
  background: #FFE548;
}
.img-circle {
  height: 300px;
  border-radius: 50%;
}

.container {
  width: 700px;
  margin: 30px auto;
  text-align: center;
  font-size: 22px;
}
.card {
  margin: 12px;
  padding: 20px;
  justify-content: space-around;
  box-shadow: 2px 5px 6px #B1F8F2;
  background: white;
  background-image: url(https://media.giphy.com/media/wPfjALm0Xk43C/source.gif);
  background-size: cover;
}

@media (max-width: 960px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
